<div class="container">
  
  <div class="col-md-6 offset-3">
    <div style="text-align: center;"><h1>Todo App</h1></div>
    <form #form="ngForm" (submit)="onSubmit(form)">
      <input type="hidden" name="id" [value]="service.todoData.id"/>
      <div class="form-group">
        <input type="text" class="form-control" id="todo"  placeholder="Enter Todo" name="todoName" #todoName="ngModel" [(ngModel)]="service.todoData.todoName" />
      </div>
      <button type="submit" class="btn btn-primary add-button">Add Todo</button>
    </form>

    <div class="todo-list">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Todo</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of service.list">
            <td id="edit" (click)="populateForm(todo)">{{todo.todoName}}</td>
            <td><button class="btn btn-danger" (click)="onDelete(todo.id)">Delete</button></td>
          </tr>
        </tbody>

      </table>
      
    </div>
  </div>
</div>
